# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Data
data/files/
data/faiss/
data/*.db
data/test_dataset1/
data/test_dataset2/

# Models (large files)
models/
